// .about{
//     .box{
//         width: 60%;
//         margin: 0 auto;
//         background: rgba(230, 230, 250, 0.301);
//         text-align: center;
//         padding: 80px;
//         .title{
//             font-size: 30px;
//             font-weight: bold;
//             color: #333;
//         }
//         .subtitle{
//             font-size: 20px;
//             font-style: italic;
//             font-weight: bold;
//             margin-top: 10px;
//             color: #555;
//         }
//         .img{
//             margin-top: 30px;
//         }
//         .overview{
//             margin-top: 30px;
//         }
//         .date{
//             color: #555;
//             font-size: 18px;
//             margin-top: 20px;
//         }
//         .voteAverage{
//             color: tomato;
//             font-size: 20px;
//             font-weight: bold;
//             margin-top: 20px;
//         }
//     }
// }

.about{
    width: 100%;
    margin: 0 auto;
    .aboutImgBox{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        position: relative;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.93), rgba(58, 58, 58, 0.86), rgba(12, 12, 12, 0.33), transparent); //적용안됨
        .backdrop{
            width: 100%;
            height: 100vh;
        }
        &::before{
            background: linear-gradient(0deg,#16161a 0,hsla(0deg,0%,9%,.987) 1.62%,hsla(0deg,0%,9%,.951) 3.1%,hsla(0deg,0%,9%,.896) 4.5%,hsla(0deg,0%,9%,.825) 5.8%,hsla(0deg,0%,9%,.741) 7.06%,hsla(0deg,0%,9%,.648) 8.24%,hsla(0deg,0%,9%,.55) 9.42%,hsla(0deg,0%,9%,.45) 10.58%,hsla(0deg,0%,9%,.352) 11.76%,hsla(0deg,0%,9%,.259) 12.94%,hsla(0deg,0%,9%,.175) 14.2%,hsla(0deg,0%,9%,.104) 15.5%,hsla(0deg,0%,9%,.049) 16.9%,hsla(0deg,0%,9%,.013) 18.38%,hsla(0deg,0%,9%,0) 20%);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
    .aboutTextBox{
        max-width: 700px; //55% 고민
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        position: absolute;
        top: 33%;
        z-index: 11;
        .title{
            font-size: 50px;
            font-weight: bold;
            color: #fff;
            margin: 0;
        }
        .subtitle{
            font-size: 40px;
            color: #fff;
            font-style: italic;
            margin: 0;
        }
        .overview{
            margin: 0;
            font-size: 20px;
            color: #fff;
        }
        .date{
            margin: 0;
            color: #fff;
        }
        .voteAverage{
            color: tomato;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
        }
    }
}