.about{
    width: 100%;
    margin: 0 auto;
    .aboutImgBox{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        position: relative;
        .backdrop{
            width: 100%;
            height: 100vh;
        }
        &::before{
            background: linear-gradient(0deg,#16161a 0,hsla(0deg,0%,9%,.987) 1.62%,hsla(0deg,0%,9%,.951) 3.1%,hsla(0deg,0%,9%,.896) 4.5%,hsla(0deg,0%,9%,.825) 5.8%,hsla(0deg,0%,9%,.741) 7.06%,hsla(0deg,0%,9%,.648) 8.24%,hsla(0deg,0%,9%,.55) 9.42%,hsla(0deg,0%,9%,.45) 10.58%,hsla(0deg,0%,9%,.352) 11.76%,hsla(0deg,0%,9%,.259) 12.94%,hsla(0deg,0%,9%,.175) 14.2%,hsla(0deg,0%,9%,.104) 15.5%,hsla(0deg,0%,9%,.049) 16.9%,hsla(0deg,0%,9%,.013) 18.38%,hsla(0deg,0%,9%,0) 20%);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        &::after{
            background: linear-gradient(to right, rgba(0, 0, 0, 0.93), rgba(12, 12, 12, 0.33), transparent);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
    .aboutTextBox{
        max-width: 51%; //700px 고민
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        position: absolute;
        top: 30%;
        z-index: 11;
        color: #fffffe;
        .title{
            font-size: 45px;
            font-weight: bold;
        }
        .subtitle{
            font-size: 38px;
            font-style: italic;
        }
        .overview{
            font-size: 20px;
        }
        .genre:not(:last-child){
            margin-right: 20px;
        }
        .date{
            font-size: 18px;
        }
        .voteAverage{
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
        }
    }
}