.home_wrap{
    width: 100%;
    max-width: 1440px;
    margin: 80px auto;
}
.boxOffice {
    color: #fffffe;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.appWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loadMoreBtn {
    font-family: 'DX Subtitle';
    border: 1px solid #fffffe;
    background: transparent;
    color: #fffffe;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 100px;
    margin-top: 50px;
}

