.h2{
    text-align: center;
    padding-top: 100px;
}
.loading{text-align: center;}
.user{
    padding: 50px;
    box-sizing: border-box;
    height: 100vh;
    .box{
        background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
        width: 60%;
        height: 500px;
        margin: 10px auto;
    }
    .name{
        margin-top: 10px;
    }
    .email{
        margin-top: 10px;
    }
    .phone{
        margin-top: 10px;
    }
    .website{
        margin-top: 10px;
    }
}
