.search{ ///sdfsd
    margin-top: 50px;
    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            border-radius: 1.3rem;
            padding: 0 1rem;
            width: 50%;
            max-width: 768px; //고민중
            height: 2.3rem;
            border: 1px solid #ccc;
        }
        .search-btn{
            border: none;
            background: transparent;
            .search-icon{
                color: #64aaff;
                font-size: 30px;
            }
        }
    }
    .search-result{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        overflow: hidden;
        max-height: 620px; //15rem
        height: 100%;
        overflow-y: scroll;
        .search-movieList{
            max-width: 1440px;
            margin: 0 auto;
            padding: 0;
            li{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                padding: 0.2rem 1rem 0.2rem 0.2rem;
                border-bottom: 1px solid #fffffe;
                a{
                    color: #fffffe;
                    text-decoration: none;
                    &:hover{color: #64aaff;}
                    .search-list{
                        display: flex;
                        gap: 1.5rem;
                        .img{
                            display: flex;
                            border-radius: 0.3rem;
                            img{
                                width: 85px;
                                height: 120px;
                            }
                        }
                        .info{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 0.2rem;
                            padding: 0.45rem 0;
                            flex: 1;
                            .title{
                                font-size: 20px;
                                margin: 0;
                            }
                            .release{
                                margin: 0;
                                font-size: 16px;
                                color: #b6b6b6;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}