.upMovie{
    width: 100%;
    margin: 0 auto;
    position: relative;
    .upBackImg{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        img{
            width: 100%;
            height: 90vh;
        }
    }
    .upInfo{
        max-width: 700px; //55% 고민
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        position: absolute;
        top: 23%;
        left: 5%;
        img{}
    }
    .upInfoText{
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: end;
        position: absolute;
        bottom: 0;
        background: linear-gradient(0deg, rgba(2,24,24,0.7867939412092962) 0%, rgba(219,219,219,0) 100%);
        .upTitle{
            margin-right: 30px;
            font-size: 20px;
        }
        .upRelease{font-size: 20px;}
        
    }
}


p{color: #fff;}